### Gradle ###
.gradle
build/
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/logs/
run/downloads/
run/mods/
run/saves/
run/crash-reports/
run/*.json
run/.*
run/command_history.txt
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/